<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <title>TO do list</title>
    </head>
    <body>
        <h1 class="head">
            TO DO LIST
        </h1>
        <h3 class="head"> By Farhan Anjum</h3>
        <div class="form-container">
        <div class="form">
        <form  action="/" method="post">
            <input  name = "add" placeholder="Add Task" >
            <button type="submit">Add</button>
        </form>
        </div>
        <div class="form">
        <form  action="/" method="post">
            <input  name = "remove" placeholder="Serial No" >
            <button type="submit">Remove</button>
        </form>
        </div>
        </div>
    
       
     <ol class="form-container2">
        {% for task in comtasks %}
        <li>{{task[0]}}</li>
        {% endfor %}
     </ol>
    </body>
</html>